video {
    object-fit: cover;
    width: 100%;
    height: 100%;
       
}

.hero-container {
height: 100vh;
width: 100%;
display:flex;
flex-direction: column;


}

.container {
  color: snow;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
}

.stay{
  margin-top: 35px;
    color: #e6acac;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    }

    .trust{
      color: #e6acac;
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      }


  .banner__search {
    display: flex;
    flex-direction: column;
    
    
}

  .banner_searchButton {
    background-color: snow;
    font-weight: 900;
    padding-top: 100px;
    text-transform: inherit;
    color: #e6acac;
    display: flex;
    flex-direction: column;

  }