video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position:absolute; 
    z-index: -1;
}


.hero-container {
background-image: src= ('/images/India.jpg');
height: 100vh;
width: 100%;
display:flex;
flex-direction: column;
align-items: center;

}

.container {
  color: snow;
  font-size: 72px;
  font-weight: 900;
  margin-top: 80px;
  margin-bottom: 15px;
  text-align: center;
}

.para{
    color: snow;
    font-size: 30px;
    font-weight: 900;
    margin-top: 220px;
    margin-bottom: 15px;
    text-align: center;
  }