.navigation {
display: flex;
  overflow: hidden;
 background-color: rgb(230, 172, 172);
 padding-right: 150px;
 padding-left: 180px;
 align-items: center;
 position: sticky;
 top: 0;
 text-decoration: none;
 list-style: none;
 justify-content: space-between;
 border-bottom: 5px solid lightgray;
  
}

.navigation__center {
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border:3px solid lightgray;
  border-radius: 999px;
  justify-content: space-between;
  background-color: rgb(230, 172, 172);
}

.navigation__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  fill: none;
  background: transparent;

}

.navigation_right li {
  display: flex;
  justify-content: space-between;
  float: right;
  text-decoration: none;
  list-style: none;
  align-items: center;
  color: snow;
  font-size: 19px;
  font-weight: 600;
  width: 15vw;
  margin-top: 15px;
  }

  
.navigation_right a {
  text-decoration: none;
  list-style: none;
  align-items: center;
  color: snow;
}

.navigation_right :hover {
  color: rgb(65, 27, 27);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
 
 
}

.search {
  color: snow;
}

.logo {
  float:left;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-right: 100px;
   
}

.logo a:hover {
  cursor: pointer;
  
}